.App {
  text-align: center;
}

.navbar-custom {
  background-color: #007cb0;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: white; 
    text-align: center;
} 

.card-body {
  display: flex;
}

.navbar-header {
  float:left;
  text-align: center;
  width: 100%;
  background-color: #007cb0;
}

.navbar-brand {
  float:none;
}